:root {
  --main-bg-color: #ffffff;
  --bg-hero-color: #c4c4c4;
  --border-bg-color: #2f303a;
  --section-team-bg-color: #f5f4fa;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --benefits-box-color: #f5f4fa;
  --filter-btn-bg-color: #f5f4fa;
  --logo-part-color: #000000;
  --hero-title-color: #ffffff;
  --btn-text-color: #ffffff;
  --activity-text-color: #ffffff;
  --logo-footer-color: #ffffff;
  --footer-text-color: #ffffff;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --bg-footer-icons: rgba(255, 255, 255, 0.1);
  --border-header-color: #ececec;
  --border-project-color: #eeeeee;
  --soc-network-color: #afb1b8;
  --secondary-social-color: #ffffff;
  --bg-social-color: #ffffff;
  --border-clients-color: #afb1b8;
  --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --filter-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --projects-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  	1px 4px 6px rgba(0, 0, 0, 0.16);
  --btn-hero-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-bg-color: #ffffff;
  --project-overlay-color: #ffffff;
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
  --main-form-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.hero-btn, .subscribe-btn, .order-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-hero-shadow);
  transition: background-color 250ms var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus,
.order-btn:hover,
.order-btn:focus {
  background-color: var(--secondary-accent-color);
}

.soc-network {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-network__item {
  width: 44px;
  height: 44px;
}

.soc-network__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}
.soc-network__link:hover, .soc-network__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.soc-network__icon {
  fill: currentColor;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.part-header {
  border-bottom: 1px solid var(--border-header-color);
}

.part-header__container {
  display: flex;
}

.logo__part-black {
  color: var(--logo-part-color);
}

.page-header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.part-header__nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 50px;
}

.auth-contacts {
  display: flex;
  gap: 50px;
  align-items: center;
}

.menu__link,
.auth-contacts__link {
  display: flex;
  padding: 32px 0;
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--cubic);
}
.menu__link:hover, .menu__link:focus, .menu__link--current {
  color: var(--accent-color);
}
.menu__link::after, .menu__link.menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: flex;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--cubic);
}
.menu__link:hover::after, .menu__link:focus::after, .menu__link.menu__link--current::after {
  transform: scaleX(1);
}

.auth-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  align-items: center;
  transition: color 250ms var(--cubic);
}
.auth-contacts__link:hover, .auth-contacts__link:focus {
  color: var(--accent-color);
}

.auth-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.page-hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  background-color: var(--bg-hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.page-hero__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-hero__title {
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.benefits {
  display: flex;
  gap: 30px;
}

.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefits__icon-wrap {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--benefits-box-color);
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.page-activity {
  padding-top: 0;
}

.activity {
  display: flex;
  gap: 30px;
}

.activity__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.activity__item-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--activity-text-color);
}

.page-team {
  background-color: var(--section-team-bg-color);
}

.team-member {
  display: flex;
  gap: 30px;
}

.team-member__item {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
  box-shadow: var(--team-card-shadow);
}

.team-member__content {
  padding: 30px 32px;
  text-align: center;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-member__pos {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.clients {
  display: flex;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-clients-color);
  border-radius: 4px;
  color: var(--soc-network-color);
  transition: color 250ms var(--cubic), border 250ms var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.part-footer {
  padding: 60px 0;
  background-color: var(--border-bg-color);
}

.part-footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.part-footer__content {
  margin-right: 70px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__part-white {
  color: var(--logo-footer-color);
}

.auth-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.auth-address__link {
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--contact-footer-color);
  transition: color 250ms var(--cubic);
}
.auth-address__link:hover, .auth-address__link:focus {
  color: var(--accent-color);
}

.auth-address__link--white {
  color: var(--footer-text-color);
}

.soc-invite {
  margin-right: 93px;
}

.soc-invite__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.soc-network__link--bottom {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.subscription {
  display: block;
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.form-subscription {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-subscription__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  outline: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}
.form-subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscription__input:focus, .form-subscription__input:hover {
  border-color: var(--accent-color);
}

.form-subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--modal-bg-color);
  border-radius: 4px;
  box-shadow: var(--modal-shadow);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 700ms var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--cubic);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.order-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.order-form__field:nth-of-type(4n) {
  margin-bottom: 20px;
}

.order-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-form-color);
}

.order-form__wrap {
  position: relative;
}

.order-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms var(--cubic);
}
.order-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-form-color);
}
.order-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-form-color);
}
.order-form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-form-color);
}
.order-form__input:focus, .order-form__input:hover {
  border-color: var(--accent-color);
}

.order-form__user {
  height: 40px;
  padding: 11px 12px 11px 42px;
}

.order-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic);
}
.order-form__input:not(:-moz-placeholder-shown) + .order-form__icon {
  fill: var(--accent-color);
}
.order-form__input:not(:-ms-input-placeholder) + .order-form__icon {
  fill: var(--accent-color);
}
.order-form__input:focus + .order-form__icon, .order-form__input:hover + .order-form__icon, .order-form__input:not(:placeholder-shown) + .order-form__icon {
  fill: var(--accent-color);
}

.order-form__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.order-form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.policy__icon {
  fill: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.policy__checkbox:checked + .policy__icon {
  border-color: transparent;
  background-color: var(--accent-color);
}
.policy__checkbox:focus + .policy__icon, .policy__checkbox:hover + .policy__icon {
  border-color: var(--accent-color);
}

.policy__link {
  position: relative;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.policy__link::after {
  content: " ";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.order-form__btn-wrap {
  display: flex;
  justify-content: center;
}

.filter-set {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filter-set__btn {
  padding: 6px 22px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--filter-btn-bg-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}
.filter-set__btn:hover, .filter-set__btn:focus, .filter-set__btn--current {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--filter-btn-shadow);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-set__item {
  width: calc((100% - 60px) / 3);
}

.project {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}
.project:hover, .project:focus {
  box-shadow: var(--projects-card-shadow);
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--project-overlay-color);
  background-color: var(--overlay-bg-color);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}
.project:hover .project__overlay-text, .project:focus .project__overlay-text {
  transform: translateY(0);
}

.project__content {
  padding: 20px 24px;
  border: 1px solid var(--border-project-color);
  border-top: 0;
}

.project__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project__type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */