.page-hero {
	max-width: 1600px;
	height: 600px;
	padding: 200px 0;
	margin: 0 auto;
	background-color: var(--hero-bg-color);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.page-hero__container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-hero__title {
	width: 696px;
	margin-bottom: 30px;

	@include font(900, 44px, calc(60 / 44), 0.06em);
		
	text-transform: uppercase;
	color: var(--white-text-color);
}