// загальні значення кнопок сайту

.hero__btn, .form-subscription__btn, .main-form__btn {
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--btn-text-color);
	background-color: var(--accent-color);
	box-shadow: var(--btn-hero-shadow);
	transition: background-color 250ms var(--cubic);
}

.btn-hero:hover,
.btn-hero:focus,
.form-subscription__btn:hover,
.form-subscription__btn:focus,
.main-form__btn:hover,
.main-form__btn:focus  {
	background-color: var(--secondary-accent-color);
}