:root {
	--main-bg-color: #ffffff;
	--bg-hero-color: #c4c4c4;
	--border-bg-color: #2f303a;
	--section-team-bg-color: #f5f4fa;
	--main-text-color: #757575;
	--secondary-text-color: #212121;
	--accent-color: #2196f3;
	--secondary-accent-color: #188ce8;
	--benefits-box-color: #f5f4fa;
	--filter-btn-bg-color: #f5f4fa;
	--logo-part-color: #000000;
	--hero-title-color: #ffffff;
	--btn-text-color: #ffffff;
	--activity-text-color: #ffffff;
	--logo-footer-color: #ffffff;
	--footer-text-color: #ffffff;
	--contact-footer-color: rgba(255, 255, 255, 0.6);
	--bg-footer-icons: rgba(255, 255, 255, 0.1);
	--border-header-color: #ececec;
	--border-project-color: #eeeeee;
	--soc-network-color: #afb1b8;
	--secondary-social-color: #ffffff;
	--bg-social-color: #ffffff;
	--border-clients-color: #afb1b8;
	--team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	--filter-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	--projects-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
	--btn-hero-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	--cubic: cubic-bezier(0.4, 0, 0.2, 1);
	--modal-bg-color: #ffffff;
	--project-overlay-color: #ffffff;
	--modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	--overlay-bg-color: rgba(33, 150, 243, 0.9);
	--main-form-color: #757575;
}